<div class="form-group {% if form_field.errors %}has-error{% endif %}">
    <label>{{ label }}  {% if required %}<span class="text-danger">*</span>{% endif %}</label>
    {{ form_field }}
    {% if form_field.errors %}<p class="help-block">{{ form_field.errors.as_text }}</p>{% endif %}
</div>