<div class="form-group">
    <label class="col-sm-3 control-label"></label>
    <div class="col-sm-9">
        <button type="submit" class="btn btn-{{ button_class }}">{{ submit_button_label }}</button>
    </div>
</div>