<div class="form-group {% if form_field.errors %}has-error{% endif %}">
    <label class="col-sm-3 control-label">{{ label }} {% if required %}<span class="text-danger">*</span>{% endif %}</label>
    <div class="col-sm-5">
        {{ form_field }}
        {% if form_field.errors %}<p class="help-block">{{ form_field.errors.as_text }}</p>{% endif %}
    </div>
</div>