{% extends "base_testapp.html" %}


{% block breadcrumbtail %}
    <li><a href="{% url 'example_models' %}">Example Models</a></li>
    <li class="active">{{ example_model.name }}</li>
{% endblock breadcrumbtail %}

{% block pagecontent %}

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
            <div class="box">
                <div class="box-title"></div>
                <div class="box-body bg">

                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <div><h5><strong>Name</strong></h5></div>
                        </div>
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <h5>
                                {{ example_model.name }}
                            </h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <div><h5><strong>Slug</strong></h5></div>
                        </div>
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <h5>
                                {{ example_model.slug }}
                            </h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <div><h5><strong>Description</strong></h5></div>
                        </div>
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <h5>
                                {{ example_model.description }}
                            </h5>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <div><h5><strong>Is public</strong></h5></div>
                        </div>
                        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                            <h5>
                                {{ example_model.is_public }}
                            </h5>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock pagecontent %}