{% extends "base_testapp.html" %}
{% load static %}
{% load i18n %}


{% block breadcrumbtail %}
    <li><a href="{% url 'example_models' %}">Example Models</a></li>
{% endblock breadcrumbtail %}

{% block pagecontent %}
    <div class="jumbotron">
        <h1>Example Models</h1>
    </div>
    <div class="text-right">
        <a class="btn btn-default" href="{% url 'example_model_create' %}">Create New Example Model</a>
    </div>
    <br/>
    <table id="datatable1" cellpadding="0" cellspacing="0" border="0" class="datatable table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Example Model Name</th>
                <th>Is public</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for example_model in example_models %}
            <tr>
                <td><a href="{% url 'example_model' example_model.slug %}">{{ example_model.name }}</a></td>
                <td>{{ example_model.is_public }}</td>
                <td>
                    <div class="btn-group" style="float: none;">
                        <a class="btn btn-default" href="{% url 'example_model_edit' example_model.slug %}">Edit</a>
                        <a
                            title="Delete"
                            data-confmsg="You are about to permanently remove this Example Model. Are you sure?"
                            data-href="{% url 'example_model_delete' example_model.slug %}"
                            class="btn btn-default confirm-modal"
                            role="button">
                            Delete
                        </a>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td>No example_models available</td>
                <td>-</td>
                <td>-</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock pagecontent %}