{% extends "base_testapp.html" %}
{% load bootstrap_form_tags %}
{% load static %}


{% block extrastyle %}
    {{ example_model_form.media }}
{% endblock extrastyle %}

{% block breadcrumbtail %}
    <li><a href="{% url 'example_models' %}">Example Models</a></li>
    <li class="active">Edit "{{ example_model.name }}"</li>
{% endblock breadcrumbtail %}

{% block pagecontent %}
    <h1>Edit "{{ example_model.name }}"</h1>
    <form class="form-horizontal" role="form" action="{% url 'example_model_edit' example_model.slug %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% horizontal_form_input example_model_form.name "Name" %}
        {% horizontal_form_input example_model_form.description "Description" %}
        {% horizontal_form_input example_model_form.is_public "Is Public?" %}
        {% horizontal_form_submit "Save changes" "default" %}
    </form>
{% endblock pagecontent %}



