{% extends "base_testapp.html" %}
{% load utils_tags %}
{% load i18n %}

{% block headtitle %}Landing Page{% endblock headtitle %}
{% block extrastyle %}{% endblock extrastyle %}
{% block header %}{% endblock header %}
{% block content %}
	
	<h1>Home</h1>

	<ul>
		<li><a href="{% url "login_required" %}">Login</a></li>
		<li><a href="{% url "signup" %}">Sign Up</a></li>
	</ul>

	<ul>
		<li><a href="{% url "change_to_en" %}">Change to English</a></li>
		<li><a href="{% url "change_to_it" %}">Change to Italian</a></li>
	</ul>

	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="{% url "create_random_article" %}">{% trans "Create new article" %}</a></li>
		<li><a href="{% url "example_model_create" %}">Create Example Model</a></li>
	</ul>

	{% for article in articles  %}
		<h1>{{ article.title }}</h1>
		<h2>{{ article.subtitle }}</h2>
		<p>{{ article.content }}</p>
	{% endfor %}





{% endblock content %}
{% block footer %}{% endblock footer %}
{% block extrabodyjs %}{% endblock extrabodyjs %}

	
