{% extends "base_testapp.html" %}
{% load utils_tags %}

{% block headtitle %}Login Required{% endblock headtitle %}
{% block extrastyle %}{% endblock extrastyle %}
{% block header %}{% endblock header %}
{% block content %}
	
	<h1>You are currently logged in!</h1>

	<a href="{% url "logout" %}">logout</a>

{% endblock content %}
{% block footer %}{% endblock footer %}
{% block extrabodyjs %}{% endblock extrabodyjs %}

	
