<!DOCTYPE html>
{% load utils_tags %}
<html>
  <head>

    {% block extraheadtop %}{% endblock extraheadtop %}
    {% block charsetutf %}<meta charset='utf-8'>{% endblock charsetutf %}
    {% block iecompatiblitymeta %}<meta http-equiv="X-UA-Compatible" content="IE=edge">{% endblock iecompatiblitymeta %}
    {% block viewport %}<meta name="viewport" content="width=device-width, initial-scale=1">{% endblock viewport %}
    <title>{% block headtitle %}{% endblock headtitle %}</title>
    <meta name="description" content="{% block description %}{% endblock description %}" />
    <meta name="author" content="{% block author %}{% endblock author %}" />
    <meta name="keywords" content="{% block keywords %}{% endblock keywords %}">
    {% block seo %}{% endblock seo %}
    {% block blockbots %}{% endblock blockbots %}
    {% block favicon %}{% endblock favicon %}  
    {% block style %}{% endblock style %}
    {% block headjs %}{% endblock headjs %}
    {% block extraheadbottom %}{% endblock extraheadbottom %}

  </head>

  <body>

    {% block extrabodytop %}{% endblock extrabodytop %}
    {% block bodycontent %}{% endblock bodycontent %}
    {% block extrabodybottom %}{% endblock extrabodybottom %}
    {% block bodyjs %}{% endblock bodyjs %}
    {% block googleanalytics %}{% endblock googleanalytics %}

  </body>
</html>
