{% extends "base.html" %}
{% load utils_tags %}


{# HEAD #}
{% block extraheadtop %}{% endblock extraheadtop %}
{% block description %}{% endblock description %}
{% block author %}{% endblock author %}
{% block keywords %}{% endblock keywords %}
{% block seo %}{% endblock seo %}
{% block blockbots %}{% endblock blockbots %}
{% block favicon %}{% endblock favicon %}  
{% block style %}
    {# Bootstrap 3.1.1 #}
    <link href="{% media_prefix %}bootstrap-3.1.1-dist/css/bootstrap.min.css" rel="stylesheet">
    {% block extrastyle %}{% endblock extrastyle %}
{% endblock style %}


{# BODY #}

{% block bodycontent %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Test App</a>
            </div>
        </div>
    </div>
    <div class="container">
        {% block content %}
            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-xs-12">
                    {% block breadcrumb %}
                        <ol class="breadcrumb">
                            <li><a href="{% url 'testapp_home' %}">Test App</a></li>
                            {% block breadcrumbtail %}
                                <li><a href="#">breadcrumb1stlevel</a></li>
                                <li class="active">breadcrumb2ndlevel</li>
                            {% endblock breadcrumbtail %}
                        </ol>
                    {% endblock breadcrumb %}
                    {% block pagecontent %}{% endblock pagecontent %}
                </div>
            </div>
        {% endblock content %}
        {% block footer %}{% endblock footer %}
    </div>
{% endblock bodycontent %}


{% block bodyjs %}
    
    {# jQuery 1.11.0 #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {# Bootstrap 3.1.1 #}
    <script src="{% media_prefix %}bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    {% block extrabodyjs %}{% endblock extrabodyjs %}

{% endblock bodyjs %}




