{% extends "base_testapp.html" %}
{% load url from future %}

{% block content %}

<form class="form-signin" role="form" name="LoginForm" action="/login/" method="POST">
	{% csrf_token %}
	{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
	{% endif %}
	<h2 class="form-signin-heading">{{ state }}</h2>
	<input class="form-control" type="text" id="username" name="username" placeholder="Username" required autofocus>
	<input class="form-control" type="password" name="password" id="password" placeholder="Password" required>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>

{% endblock content %}