{% extends "base_testapp.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
	<h1>Create an account</h1>

	<form action="{% url "signup" %}" method="post">
		{% csrf_token %}
		{{ user_form.as_p }}
		{{ user_profile_form.as_p }}
		<input type="submit" value="Create the account">
	</form>
{% endblock %}